@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,600,700,800,900&display=swap');

$connectedDevicesHeight: 130px;
$screen-sm-max: 767.98px;

*, *::after, *::before {
  box-sizing: border-box;
}

:root{
  --font-serif: 'Playfair Display', serif;
}

html{
  --color-primary: #538797;
  --color-2: #c2d9cd;
  --color-3: #ff842a;
  --color-4: #fed55d;
  --color-5: #fcfaf1;

  --color-background: #fff;
  --color-text: #161719;
  --color-light-grey: #f4f4f4;
  --color-light-grey-darken: #eee;
  --color-dark-grey: #666;

  &.deviceIdentificationTriggered, &.darkMode{
    --color-background: #161719;
    --color-text: #fff;
    --color-light-grey: #2c2c2e;
    --color-light-grey-darken: #3a3a3c;
    --color-dark-grey: #636366;
    --color-dark-grey: #8e8e93;
  }
}

body{
  margin:0;
  padding:0;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--color-background);
  color: var(--color-text);
  transition: all .5s ease 0s;
}

p{
  margin:0;
}

.button{
  $button-padding-t-b: 10px;

  -webkit-appearance: none;
  user-select: none;
  background: var(--color-5);
  color: var(--color-dark-grey);
  font-size:1rem;
  border-radius:50px;
  outline: none;
  cursor: pointer;
  padding: $button-padding-t-b 20px;
  line-height: 1rem;
  border: none;
  border: 1px solid var(--color-dark-grey);
  background: var(--color-light-grey);
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  font-weight: 500;
  font-size: .9rem;
  transition: all ease .5s;

  &:hover, &:focus{
    border-color: var(--color-primary);
    background: var(--color-primary);
    color: var(--color-5);
  }

  &.button-circle{
    height: calc(1rem + #{$button-padding-t-b} * 2 + 2px);
    width: calc(1rem + #{$button-padding-t-b} * 2 + 2px);
    padding: 0;
    font-size: 1.4rem;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.button-icon{
    img, svg{
      display: block;
      height: 45%;

      path{
        fill: var(--color-dark-grey);
      }
    }

    &:hover, &:focus{
      img, svg{
        display: block;
        height: 45%;
  
        path{
          fill: var(--color-5);
        }
      }
    }
  }
}

header{
  position: fixed;
  top:0;
  right:0;
  left:0;
  width:100%;
  background: rgba(255,255,255,0.5);
  backdrop-filter: blur(15px);
  padding: 15px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid var(--color-primary);

  .user{
    border-radius:50%;
    line-height:1;
    margin-right:15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    color: var(--color-text);
    border: 4px solid;
  }
}

#enableMotionTracking{
  opacity: 0;

  &.show{
    opacity: 1;
  }
}

#playground{
  display: block;
  width:100%;
  height: calc(100vh - #{$connectedDevicesHeight});
  overflow: hidden;

  .ball{
    display: block;
    border-radius: 50%;
    background: var(--color-primary);
    // pointer-events: auto;
    cursor: grab;
    position: absolute;
    top:0;
    left:0;

    &:active{
      cursor: grabbing;
    }
  }
}

.identifyContainer{
  position: fixed;
  top: 0;
  left:0;
  z-index:-1;
  height: calc(100% - #{$connectedDevicesHeight});
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-serif);
  text-align: center;

  &.identifyIn, &.identifyOut{
    z-index:1;
  }
}

/**
 * the following effect classes can be applied to this element
 * - blurEffect
 * - translateMoveY
 * - translateMoveX
 */
.identifyWrapper{
  transform: translateY(-.5rem);
}

.identifyDeviceNumberWrapper{
  font-size: 25rem;
  line-height: 1;
  font-variant-numeric: 'lnum';
  font-feature-settings: 'lnum', 'pnum';
  font-weight: 600;
  opacity: 0;
  overflow: hidden;

  @media (max-width: $screen-sm-max) {
    font-size: 18rem;
  }
  
  #identifyDeviceNumber{
    display: block;
    transform: translateY(-4rem);

    @media (max-width: $screen-sm-max) {
      transform: translateY(-1.5rem);
    }

    .verticalShiftEffect & {
      transform: translateY(-4rem) translate3d(0,100%,0);

      @media (max-width: $screen-sm-max) {
        transform: translateY(-1.5rem) translate3d(0,100%,0);
      }

      .identifyIn &{
        transform: translateY(-4rem) translate3d(0,0%,0);

        @media (max-width: $screen-sm-max) {
          transform: translateY(-1.5rem) translate3d(0,0%,0);
        }
      }
  
      .identifyOut &{
        transform: translateY(-4rem) translate3d(0,-100%,0);

        @media (max-width: $screen-sm-max) {
          transform: translateY(-1.5rem) translate3d(0,-100%,0);
        }
      }
    }
    .verticalShiftEffect.animationEnabled & {
      transition: all 0.6s cubic-bezier(0.11, 0.62, 0.42, 0.98) 0s;

      .identifyOut & {
        transition: all 0.6s cubic-bezier(0.62, 0.09, 0.89, 0.46) 0s;
      }
    }
  }

  .verticalShiftEffect &{
    opacity: 1;
  }

  .blurEffect &{
    filter: blur(30px);
    transform: translate3d(0, 20%, 0);
    transform: scale3d(0.5, 0.5, 0.5);
    opacity: 0;
    transition: all 0s ease 0s;

    .identifyIn &{
      filter: blur(0px);
      transform: translate3d(0, 0%, 0);
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }

    .identifyOut &{
      transform: translate3d(0, -20%, 0);
      transform: scale3d(1.5, 1.5, 1.5);
    }
  }
  .blurEffect.animationEnabled & {
    transition: all .6s cubic-bezier(0.11, 0.65, 0.34, 0.96) 0s;
  }
}

.identifyDeviceTextWrapper{
  font-size:3rem;
  line-height:1;
  overflow: hidden;
  opacity: 0;

  @media (max-width: $screen-sm-max) {
    font-size: 2rem;
  }

  #identifyDeviceText{
    display: block;

    .verticalShiftEffect & {
      transform: translate3d(0,100%,0);

      .identifyIn &{
        transform: translate3d(0,0%,0);
      }
  
      .identifyOut &{
        transform: translate3d(0,-100%,0);
      }
    }
    .verticalShiftEffect.animationEnabled & {
      transition: all .4s cubic-bezier(0.11, 0.68, 0.4, 0.99) 0.4s;
      transition: all 0.4s cubic-bezier(0.11, 0.56, 0.4, 0.99) 0.4s;

      .identifyOut &{
        transition: all .4s cubic-bezier(0.63, 0.1, 0.96, 0.56) 0.2s;
      }
    }
  }

  .verticalShiftEffect &{
    opacity: 1;
  }

  .blurEffect &{
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    transition: all 0s ease 0s;

    .identifyIn &{
      transform: translate3d(0, 0%, 0);
      opacity: 1;
    }

    .identifyOut &{
      opacity: 0;
      transform: translate3d(0, 0%, 0);
    }
  }
  .blurEffect.animationEnabled & {
    transition: all .5s cubic-bezier(0.11, 0.65, 0.34, 0.96) 0s;
  }
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  .buttonHolder{
    width:100%;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    position: relative;
    z-index: -1;

    .button{
      margin-left: 15px;

      .deviceIdentificationTriggered &{
        transform: translateY(200%);
      }
    }
  }

  .connectedDevices{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 15px;
    border-top: 4px solid transparent;
    background: var(--color-light-grey);
    transition: all ease .3s;
    -webkit-overflow-scrolling: touch;
    min-height: $connectedDevicesHeight;

    &.draggingOver{
      border-top: 4px solid #666;
      background: var(--color-light-grey-darken);
    }

    &.reordering{
      .device, .device.show{
        transition: all ease .3s;
        transform: translate3d(0, 0px, 0) scale3d(.8,.8,1);
        opacity: 0;
      }
    }

    .device{
      padding:12px 17px;
      border-radius:6px;
      box-shadow: 0 8px 15px rgba(0,0,0,0.1);
      border: 2px solid transparent;
      background:white;
      font-size: .9rem;
      margin-right: 30px;
      flex-shrink:0;
      min-width: 135px;
      transform: translate3d(0, 30px, 0);
      opacity: 0;
      color: var(--color-text);
      transition: all .5s cubic-bezier(0, 0, 0.15, 0.96) 0s,
                  background .5s ease 0s,
                  color .5s ease 0s;

      cursor: grab;
      user-select: none;
      -khtml-user-drag: element;
      -webkit-user-drag: element;

      .deviceIdentificationTriggered &{
        background: var(--color-light-grey-darken);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
      }

      &:hover, &.show:hover{
        box-shadow: 0 8px 15px rgba(0,0,0,0.15);
        transform: translate3d(0, -3px,0);
      }

      &:active, &:focus{
        cursor: grabbing;
      }

      &.show{
        transform: translate3d(0, 0px, 0);
        opacity: 1;
      }

      &.currentUser{
        padding: 8px;
        border: 2px solid var(--color-primary);
      }

      // remaining element in column
      &.dragging{
        opacity: .3;
        transform: scale3d(0.9,0.9,1);

        &:hover{
          transform: translate3d(0, -3px,0) scale3d(0.9,0.9,1) !important;
        }
      }

      &.draggingOver{
        border: 2px solid #aaa;
        opacity: .6;
        transform: translate3d(10px, 0,0) !important;
      }

      .userHeader{
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
      }

      .deviceIcon{
        display: block;
        height: 30px;
        max-width: 35px;
        user-select: none;

        path{
          fill: var(--color-dark-grey);

          .deviceIdentificationTriggered &, .darkMode &{
            fill: white;
          }
        }
      }

      .userColorDot{
        border-radius: 50%;
        height:20px;
        width:20px;
        color:white;
        text-align: center;
        vertical-align: middle;
        line-height: 1.35;
      }

      .userName{
        font-weight: 500;
        margin-bottom:3px;
        // border-bottom: 3px solid;
        display: inline-block;
      }

      .userOrder{
        color:white;
      }

      .userId{
        color:#aaa;
        font-weight:200;
        font-size: 80%;;
      }
    }
  }
}

.background-stripes{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: none;

  svg{
    transform: scale(3);
    transform: scale(4);
    transform-origin: 40% 20%;
  
    line{
      stroke:#ccc !important;
      animation-name: animate-background;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease;
      animation-fill-mode: both;
    
      @for $i from 1 through 100 {
          // :nth-child(1-100) 
          &:nth-child(#{$i}) {
            
            // Delay the animation. Delay increases as items loop.
            animation-delay: $i * (1s / 18);
          }
      }
    }
  }
}

.stripes{
  display: none;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 50vh;
  transform: translate3d(-50%, -50%,0);
  overflow: hidden;

  svg{
    transform: scale(5.5) rotate(270deg);

    line{
      stroke:white !important;
    }
  }
}

.bubbles{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  position: static;
  height: 100vh;
  width: 100vw;
  padding-top:100px;

  .user{
    background: #3ed678;
    border-radius: 50%;
    margin-bottom:15px;
    width: 50px;
    height: 50px;
    padding:8px;
    font-size:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@keyframes animate-background{
  from{
    stroke-width:20px;
  }
  to{
    stroke-width:5px;
  }
}

@keyframes background-transforms{
  from{
    transform: scale(4) rotate(0deg);
  }
  from{
    transform: scale(4) rotate(360deg);
  }
}
